<!--
outFileName: <suffix>      | Output file suffix (prefix based on command run).
       
outFilePath: <path>        | Path for output file; blank is application dir.

logfile:     true          | Keep a running log file of all commands.
             false         | Do not use log file.
       
       
verbose:     true          | Extra debugging output.
             false         | Normal output.

proxy:       <proxyserver> |		 
       
-->
  <appSettings>    
  <add key="outOutFile" value="-output.xml" />
  <add key="outFilePath" value="" />
  <add key="logfile" value="true" />
  <add key="verbose" value="true" />
  <add key="proxy" value =" />
  </appSettings>
