<!--
mktoEnv:                     Sandbox | Prod

outFileName: <suffix>      | Output file suffix (prefix based on command run).
       
outFilePath: <path>        | Path for output file; blank is application dir.

logfile:     true          | Keep a running log file of all commands.
             false         | Do not use log file.
       
       
verbose:     true          | Extra debugging output.
             false         | Normal output.

pollImport:  <seconds>     | Interval value in seconds to poll bulk import job; should be at least 30 in Prod!

pollExport:  <minutes>     | Interval value in minutes to poll bulk export job; should be at least 5 in Prod!

pollMax:     <number>      | Maximum number of times to poll job at interval specified for import/export.

proxy:       <proxyserver> |		 
       
-->
  <appSettings>    
  <add key="mktoEnv" value="Sandbox" />
  <add key="outFileName" value="-output.xml" />
  <add key="outFilePath" value="" />
  <add key="logfile" value="true" />
  <add key="verbose" value="true" />
  <add key="pollImport" value="2" />
  <add key="pollExport" value="1" />
  <add key="pollMax"  value="20" />
  <add key="proxy" value ="" />
  </appSettings>
